
body {
  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
  --gutter: 30px;
  --footer-height: 25px;
  
  font-family: 'Balsamiq Sans', sans-serif;
  background-image: url('../assets/bb-background.jpg');
}
.cart-nav {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
}

.link-5 {
  grid-column: 1/span 1;
  margin-left: 20px;
}

.link-1 {
  grid-column: 7/span 2;
}

.link-2 {
  grid-column: 10/span 2;
}

.link-3 {
  grid-column: 14/span 2;
}

.link-4 {
  grid-column: 20/20;
  margin-right: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--footer-height));
}

section {
  max-width: 80%;
  width: 1000px;
  height: 500px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
}

header { 
  background:  rgba(215, 249, 212, 0.70);
  height: var(--header-height);
  box-shadow: var(--shadow);
}

header img {
  height: var(--header-height);
}

p {
  margin: var(--gutter);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: flex-end;
  background:  rgba(215, 249, 212, 0.872);
  box-shadow: var(--shadow);
}


/* Form Styles */

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  }

h3 {
  font-size: 1.15rem;
  text-align: center;
  /* margin-bottom: 30px; */
  margin: 0px 30px 50px 50px;
  }

.main-section {
  background-color: rgba(215, 224, 212, 0.70);
  border: solid 2px  rgba(215, 249, 212, 0.872);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  margin: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
}

button {
  width: 10%;
  align-self: flex-end;
  margin: 10px 50px;
  padding: 5px;
}