body {
  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
  --gutter: 30px;
  --footer-height: 25px;
  
  font-family: 'Balsamiq Sans', sans-serif;
  background-image: url('../assets/bb-background.jpg');
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  margin-left: 100px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--footer-height));
}

section {
  max-width: 80%;
  width: 1000px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  
}

header {
  display: flex;
  justify-content: flex-end;
  background:  rgba(215, 212, 249, 0.70);
  height: var(--header-height);
  box-shadow: var(--shadow);
}


.gutter-right {
  margin-right: 20px;
}

header img {
  height: var(--header-height);
}

p {
  margin: var(--gutter);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: flex-end;
  background:  rgba(215, 212, 249, 0.70);
  box-shadow: var(--shadow);
}

/* Table Style */
.main-section {
  background-color: rgba(255, 255, 255, 0.70);
  border: solid 2px  rgba(215, 212, 249, 0.872);
  width: max auto;
  padding: 20px;
}

h3 {
  font-size: 2rem;
  text-align: center;
  }

table {
  width: 100%;
  
}

td, th {
  border: solid 1px;
  padding: 5px;
  border-radius: 5px;
}

th {
  background-color: rgba(215, 212, 249, 0.70);
  border: white;
}

tr:nth-child(odd) {
  /* background: white; */
  background-color: rgba(255, 255, 255, 0.70);
}

tr:nth-child(even) {
  background:  rgba(215, 212, 249, 0.70);
}

.total {
  text-align: right;
  padding: 10px;
}

.cart-total {
  background-color: rgba(215, 212, 249, 0.70);
  
  border: white;
}

button {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(215, 212, 249, 0.70);
  font-family: 'Balsamiq Sans', sans-serif;
}